html {
                background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzNiYXRjaDQtMjUta281ano0ZjkuanBn.jpg);          
                background-size: 100%;
                background-repeat: repeat;
                margin: 0;
            }
            
            .wrapper {
            display: flex;
            justify-content: center;   
            flex-direction: column;    
            min-height: 100vh;         
            }


            .image {
                width: 500px;
                height: 500px;
                background: url(assets/images/meowmeow.jpg) no-repeat center / cover;
                margin: 0 auto;
                border: 7px black;
                border-style: double;
            }

            h1 {
                font-size: 25px;
            }
            

            .button-container {
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-wrap: wrap;
                padding: 20px;
            }

            .btn {
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            color: white;
            }
            .btn:hover {
                color: rgb(204, 95, 179);
            }

            .fb {
            background-color: #1877f2;
            }

            .github {
            background-color: #6e5494;
            }

            .tiktok {
            background-color: #000000;
            }

            .ins {
                background-color: rgb(210, 40, 139);
            }     

            .ytb {
                background-color: red;
            }

            